img {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  max-height: 700px;
}

ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border: solid, 5px;
  border-radius: 5px;
}
li {
  float:left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial;
}
/* hover color for navbar */
li a:hover {
  background-color: #111;
}

.present {
  color: white;
  font-size: 300%;
  font-weight: bold;
  
}
.presente {
  color: white;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
}
.now {
  color: white;
  font-size: 150%;
  font-weight: bold;
  text-align: left;
  border-style:solid;
  border-color: red;
} 
.after {
  color: white;
  font-size: 150%;
  font-weight: bold;
  text-align: left;
}
.after5 {
  color: white;
  font-size: 150%;
  font-weight: bold;
  text-align: left;
}
.collega {
  color: white;
  font-size: 150%;
  font-weight: bold;
  text-align: left;
}
.names {
  color: white;
  font-weight: bold;
  text-align: left;
}
.vacatures {
  color: white;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  text-decoration: underline;
  font-size: 150%;
}
